/* Browser 
   --------------------------------------- */

#browser {
  overflow: auto;
}


/* Facets 
   --------------------------------------- */

#facets {
  background: #060606;
  overflow: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  z-index: 5;
}

#facets .filter {
  margin-bottom: 20px;
}

#facets .filter .name {
  height: 40px;
  color: #fff;
  line-height: 40px;
  padding-left: 20px;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}

#facets .filter .filter-name {
  background: rgba(255,255,255, 0.15);
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif; 
  color: #fff;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}

#facets .filter .selected-values {

}

#facets .filter .available-values {
  
}

#facets .filter .selected-values a.value {
  font-weight: bold;
  color: rgba(255,255,255, 0.9);
}

#facets .filter .available-values a.value {
  color: #999;
}

#facets .filter .available-values a.value:hover {
  background: rgba(255,255,255, 0.1);
}

#facets .filter a.value {
  font-size: 11px;
  line-height: 25px;
  height: 25px;
  font-weight: normal;
  display: block;
  padding-left: 20px;
  position: relative;
  text-transform: capitalize;
}

#facets .filter a.value.related {
  font-weight: bold;
  color: rgba(255,255,255, 0.9);
}

#facets .filter a.value .indicators {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 60px;
}

#facets .filter a.value .indicators .matching-objects {
  position: absolute;
  top: 10px;
  right: 30px;
  height: 2px;
  width: 50px;
  background: rgba(255,255,255, 0.4);
}

#facets .filter .selected-values a.value .indicators .matching-objects {
  background: rgba(255,255,255, 0.6);
}

#facets .filter a.value .indicators .related-objects {
  position: absolute;
  
  top: 13px;
  right: 30px;
  height: 4px;
  width: 50px;
  background: rgba(255,255,255, 0.6);
}

#facets .filter a.value .indicators .frequency {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 20px;
  line-height: 25px;
  padding: 0 15px;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
}


/* Matrix 
   --------------------------------------- */

#matrix {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 320px;
  bottom: 20px;
  overflow: auto;
}

#matrix .item {
  position: absolute;
  width: 200px;
  height: 200px;
  float: left;
  background: #444;
  text-align: center;
  cursor: pointer;

  -webkit-transition-property: left, top, width, height, opacity;
  -moz-transition-property: left, top, width, height, opacity;
  transition-property: left, top, width, height, opacity;

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0.5;
}

#matrix .item.eased {
  opacity: 0.1;
}

#matrix .item.highlighted {
  opacity: 1;
}

#matrix .item:hover, #matrix .item.active {
  opacity: 1.0;
}

#matrix .item.eased:hover {
  opacity: 0.3;
}

#matrix .item .name {
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 14px;
  text-align: left;
  background: rgba(0,0,0, 0.8);
  padding: 0 10px;
  color: #fff;
}

#matrix .item img {
  width: 100%;
  border: none;
}

#matrix .item .markers {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  background: rgba(0,0,0, 0.8);
  padding: 5px;
}

#matrix .item .markers .marker {
  float: left;
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background: #8AA70E;
}

/* Details 
   --------------------------------------- */

#details {
  display: none;
  z-index: 200;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;

  background: #060606;
  color: rgba(255,255,255, 0.7);

  -webkit-transition-property: left, top, width, height, opacity;
  -moz-transition-property: left, top, width, height, opacity;
  transition-property: left, top, width, height, opacity;

  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  transition-duration: 0.75s;

  width: 300px;
}

#details .details-wrapper {
  padding: 10px;
}

#details a img {
  border: none;
  position: relative;
}

#details a.image .label {
  position: absolute;
  top: 10px;
  left: 10px;
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif;
  background: rgba(0,0,0, 0.9);
  padding: 0 5px;
  color: rgba(255,255,255, 0.8);
}

#details a.image:hover .label {
  color: rgba(255,255,255, 1);
}

#details .abstract {
  font-size: 14px;
  margin-bottom: 15px;
}

#details .property-name {
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif;
}

#details .values {
  margin-bottom: 10px;
}
#details .values span {
  background: rgba(0,0,0, 0.1);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 12px;
}

#details.active {
  z-index: 200;
  bottom: 10px;
}

#details img {
  width: 100%;
}

#details h1 {
  padding: 5px 0px;
  font-size: 20px;
}

#details h3 {
  text-transform: uppercase;
}