/*
  Typography / Basics
---------------------------------------------*/
* {
	margin: 0;
}

html,body {
  background: #EDEEE6;
  -webkit-font-smoothing: antialiased;
	height: 100%;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -80px; /* Negative footer height */
}

body, textarea, p, input { 
  font: 400 16px/1.5 'Open Sans', sans-serif; 
  color: #505050;
}

a {
  color: #0297d6;
  text-decoration: none;
  -moz-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -webkit-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
}

a:hover {
  color: #0276a7;
}

a:active { color: #505050; }

a:focus, a:active {
  outline: none;
}

img { border: 1px solid #d4d4d4; }

strong { font-weight: 700;}

h1, h2, h3 { 
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif; 
}

h1 { 
  padding: 10px;
}

h1 a { color: white; }
h1 a:hover { color: white; }

h2 { 
  font-size: 1.75em; 
  padding-bottom: 20px;
}
  
h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 700;
}
  
p {
  padding-bottom: 20px;
}

p:last-child { padding-bottom: 0; }

.small {
  color: #505050;
  font-size: .75em;
  font-weight: 400;
}

/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

  
/*
Layout 
--------------------------------------- */

.surface { 
  overflow: hidden;
}

/* Browser 
   --------------------------------------- */

#browser {
  overflow: auto;
  border-top: 1px solid #d4d4d4;
}


/* Facets 
   --------------------------------------- */

#facets {
  background: #D9DBD1;
  overflow: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  z-index: 5;
}

#facets .filter {
  margin-bottom: 20px;
}

#facets .filter .name {
  height: 40px;
  color: #fff;
  line-height: 40px;
  padding-left: 20px;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}

#facets .filter .filter-name {
  background: rgba(0,0,0, 0.5);
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif; 
  color: #fff;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
  
  font-size: 10px;
  text-transform: uppercase;
}

#facets .filter .selected-values {

}

#facets .filter .available-values {
  
}

#facets .filter .selected-values a.value {
  /*background: rgba(0,0,0, 0.05);*/
  font-weight: bold;
  color: #444;
}

#facets .filter .available-values a.value {
  /*background: #E2E3DB;*/
  color: #444;
}

#facets .filter .available-values a.value:hover {
  background: rgba(0,0,0, 0.04);
}

#facets .filter a.value {
  font-size: 11px;
  line-height: 25px;
  height: 25px;
  display: block;
  padding-left: 20px;
  position: relative;
  text-transform: capitalize;
}

#facets .filter a.value.related {
  font-weight: bold;
}

#facets .filter a.value .indicators {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 60px;
}

#facets .filter a.value .indicators .related-objects {
  position: absolute;
  top: 10px;
  right: 30px;
  height: 4px;
  width: 50px;
  background: rgba(0,0,0, 0.5);
}

#facets .filter a.value .indicators .matching-objects {
  position: absolute;
  top: 15px;
  right: 30px;
  height: 2px;
  width: 50px;
  background: rgba(0,0,0, 0.3);
}

#facets .filter a.value .indicators .frequency {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 20px;
  /*background: #555;*/
  line-height: 25px;
  padding: 0 15px;
  text-align: right;
  color: #555;
  font-size: 11px;
  font-weight: bold;
}

/* Matrix 
   --------------------------------------- */

#matrix {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 320px;
  bottom: 20px;
  overflow: auto;
}

#matrix .item {
  position: absolute;
  width: 200px;
  height: 200px;
  float: left;
  background: #444;
  text-align: center;
  cursor: pointer;

  -webkit-transition-property: left, top, width, height, opacity;
  -moz-transition-property: left, top, width, height, opacity;
  transition-property: left, top, width, height, opacity;

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0.8;
}

#matrix .item.eased {
  opacity: 0.2;
}

#matrix .item:hover, #matrix .item.active {
  opacity: 1.0;
}

#matrix .item.eased:hover {
  opacity: 0.3;
}

#matrix .item .name {
  /*display: none;*/
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif; 
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  text-align: left;
  /*font-weight: bold;*/
  background: rgba(0,0,0, 0.8);
  padding: 0 5px;
  color: #fff;
}

#matrix .item img {
  width: 100%;
  border: none;
  /*display: none;*/
  /*opacity: 0;*/
}

#matrix .item .markers {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  background: rgba(0,0,0, 0.8);
  padding: 5px;
}

#matrix .item .markers .marker {
  float: left;
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background: #8AA70E;
}

/* Details 
   --------------------------------------- */

#details {
  display: none;
  /*opacity: 0;*/
  z-index: 200;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;

  background: #D9DBD1;

  -webkit-transition-property: left, top, width, height, opacity;
  -moz-transition-property: left, top, width, height, opacity;
  transition-property: left, top, width, height, opacity;

  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  transition-duration: 0.75s;
  /*padding-right: 15px;*/

  width: 300px;
}

#details .details-wrapper {
  padding: 10px;
}

#details a img {
  border: none;
}

#details .abstract {
  font-size: 14px;
  margin-bottom: 15px;
}

#details .property-name {
  font: 700 .875em/1.5 'Open Sans Condensed', sans-serif;
}

#details .values {
  margin-bottom: 10px;
}
#details .values span {
  background: rgba(0,0,0, 0.1);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 12px;
}

#details.active {
  /*display: block;*/
  z-index: 200;
  bottom: 10px;
  /*opacity: 1;*/
}

#details img {
  width: 100%;
}


#details h1 {
  padding: 5px 0px;
  font-size: 20px;
}

#details h3 {
  text-transform: uppercase;
}